# Example connection string for PostgreSQL:
DATABASE_URL=postgresql://username:password@localhost:5432/database

# Better Auth Secret: openssl rand -base64 32
BETTER_AUTH_SECRET=your-secret-here-replace-with-generated-value

# Better Auth Base URL
BETTER_AUTH_URL=BaseURL

# DigitalOcean Spaces Access Key
SPACES_KEY=S3CR3T

# DigitalOcean Spaces Secret Key
SPACES_SECRET=S3CR3T

# DigitalOcean Spaces Endpoint
SPACES_ENDPOINT=https://region.digitaloceanspaces.com

# S3 Bucket Name
SPACES_BUCKET_NAME=bucket

# DigitalOcean Spaces CDN Endpoint
NEXT_PUBLIC_SPACES_CDN_ENDPOINT=https://bucket.region.cdn.digitaloceanspaces.com